.title-and-image{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 500px;
    height: 700px;
  }
  h1{
    text-align: center;
  }
}

@media screen and (max-width:767px) {
  .title-and-image{
    padding-inline: 12px;
    padding-inline:20px ;
    img{
      width: 100%;
      height: 500px;
    }
  }
}