.date-time-section{
  max-width: 1200px;
  margin: auto;
  .date-start{
    display: flex;
    align-items: center;
    gap: 30px;
    p{
      margin: 0;
    }
  }
}

@media screen and (max-width:767px) {
  .date-time-section{
    padding-inline: 12px;
  }
}
