.header-section{
  color: pink;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    font-size: 50px;
    line-height: 60px;
  }
  span{
    font-size: 50px;
    animation: scale-heart 1.5s alternate infinite ease-in;
  }
}

@keyframes scale-heart {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(2.0);
  }
}